/* This is a class in h5bp that hides elements but keeps them 
   accessible to screen readers, packaged as a mixin: */
.region-content-top > .container,
.region-content > .container,
.region-content-bottom > .container {
  display: inline;
}

.region-content-top {
  float: left;
}

.cke_show_borders p,
.cke_contents p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.page-dashboard .region-content ul li, .page-dashboard .region-content ul.intro-list li,
.region-content ul li,
.region-content ul.intro-list li {
  list-style-type: none;
  /* Fix to remove list-styles on Dashboard */
}

.region-content figure.image-wrapper,
.region-content-top figure.image-wrapper {
  opacity: 0;
  clear: both;
}
.region-content figure.image-wrapper.thumbnail-right,
.region-content-top figure.image-wrapper.thumbnail-right {
  float: right;
  margin-top: 15px;
}
.region-content figure.image-wrapper.thumbnail,
.region-content-top figure.image-wrapper.thumbnail {
  float: left;
  margin-left: 0;
  margin-top: 15px;
}
.region-content .region-content figure.float-right,
.region-content-top .region-content figure.float-right {
  margin-right: 0;
  margin-top: 20px;
}
.region-content .region-content figure.float-left,
.region-content-top .region-content figure.float-left {
  float: left;
  margin-left: 0;
  margin-right: 15px;
  margin-top: 20px;
  padding-left: 0;
}
.region-content p:empty,
.region-content-top p:empty {
  display: none;
  /* Hides all empty p tags */
}
.region-content .media-element-wrapper,
.region-content-top .media-element-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}
.region-content .media-element-wrapper.media-link,
.region-content-top .media-element-wrapper.media-link {
  display: inline;
  margin: 0;
  padding: 0;
}

.region-content,
.region-content-top,
.cke_show_borders,
.cke_contents {
  float: left;
  position: relative;
  width: 100%;
  z-index: 10;
  /*
  &:not(.region-content-top) ul:not(#callout):not(.no-bullets):not(.pager):not(.quicktabs-tabs):not(.tabset), .with-bullets {
    li:not(.no-bullet), .bulleted-item {
      margin-left: 30px;
      &:before, .bullet {
        @include border-radius(20px);
        @include box-shadow(inset 2px 2px 5px #aaa);
        background: #888;
        content: '';
        display: block;
        height: 4px;
        left: -10px;
        position: absolute;
        top: 6px;
        width: 4px;
      }
    }
  }
  */
}
.region-content .node p,
.region-content-top .node p,
.cke_show_borders .node p,
.cke_contents .node p {
  margin-bottom: 1em;
}
.region-content .node p,
.region-content .node .field-name-field-description div,
.region-content-top .node p,
.region-content-top .node .field-name-field-description div,
.cke_show_borders .node p,
.cke_show_borders .node .field-name-field-description div,
.cke_contents .node p,
.cke_contents .node .field-name-field-description div {
  line-height: 1.5em;
}
.region-content h2,
.region-content-top h2,
.cke_show_borders h2,
.cke_contents h2 {
  font-size: 20px;
  display: block;
  clear: both;
  margin: 20px 0 5px;
}
.region-content iframe,
.region-content-top iframe,
.cke_show_borders iframe,
.cke_contents iframe {
  max-width: 100%;
}
.region-content img:not(.gs-image),
.region-content-top img:not(.gs-image),
.cke_show_borders img:not(.gs-image),
.cke_contents img:not(.gs-image) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  max-width: 100%;
  height: auto;
}
.region-content img:not(.gs-image).float-right, .region-content img:not(.gs-image).float-left, .region-content img:not(.gs-image)[displayStyle='float-right'], .region-content img:not(.gs-image)[displayStyle='float-left'],
.region-content-top img:not(.gs-image).float-right,
.region-content-top img:not(.gs-image).float-left,
.region-content-top img:not(.gs-image)[displayStyle='float-right'],
.region-content-top img:not(.gs-image)[displayStyle='float-left'],
.cke_show_borders img:not(.gs-image).float-right,
.cke_show_borders img:not(.gs-image).float-left,
.cke_show_borders img:not(.gs-image)[displayStyle='float-right'],
.cke_show_borders img:not(.gs-image)[displayStyle='float-left'],
.cke_contents img:not(.gs-image).float-right,
.cke_contents img:not(.gs-image).float-left,
.cke_contents img:not(.gs-image)[displayStyle='float-right'],
.cke_contents img:not(.gs-image)[displayStyle='float-left'] {
  max-width: 320px;
}
.region-content img:not(.gs-image)[displayStyle='float-right'],
.region-content-top img:not(.gs-image)[displayStyle='float-right'],
.cke_show_borders img:not(.gs-image)[displayStyle='float-right'],
.cke_contents img:not(.gs-image)[displayStyle='float-right'] {
  float: right;
  clear: right;
}
.region-content img:not(.gs-image)[displayStyle='float-left'],
.region-content-top img:not(.gs-image)[displayStyle='float-left'],
.cke_show_borders img:not(.gs-image)[displayStyle='float-left'],
.cke_contents img:not(.gs-image)[displayStyle='float-left'] {
  float: left;
  clear: left;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
}
.region-content img:not(.gs-image)[displayStyle='full-width'],
.region-content-top img:not(.gs-image)[displayStyle='full-width'],
.cke_show_borders img:not(.gs-image)[displayStyle='full-width'],
.cke_contents img:not(.gs-image)[displayStyle='full-width'] {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  clear: both;
}
.region-content img:not(.gs-image)[displayStyle='thumbnail'], .region-content img:not(.gs-image)[displayStyle='thumbnail-right'],
.region-content-top img:not(.gs-image)[displayStyle='thumbnail'],
.region-content-top img:not(.gs-image)[displayStyle='thumbnail-right'],
.cke_show_borders img:not(.gs-image)[displayStyle='thumbnail'],
.cke_show_borders img:not(.gs-image)[displayStyle='thumbnail-right'],
.cke_contents img:not(.gs-image)[displayStyle='thumbnail'],
.cke_contents img:not(.gs-image)[displayStyle='thumbnail-right'] {
  max-width: 150px;
  height: auto;
  padding-top: 0;
}
.region-content img:not(.gs-image)[displayStyle='thumbnail'],
.region-content-top img:not(.gs-image)[displayStyle='thumbnail'],
.cke_show_borders img:not(.gs-image)[displayStyle='thumbnail'],
.cke_contents img:not(.gs-image)[displayStyle='thumbnail'] {
  padding-left: 0;
  margin-left: 0;
  float: left;
}
.region-content img:not(.gs-image)[displayStyle='thumbnail-right'],
.region-content-top img:not(.gs-image)[displayStyle='thumbnail-right'],
.cke_show_borders img:not(.gs-image)[displayStyle='thumbnail-right'],
.cke_contents img:not(.gs-image)[displayStyle='thumbnail-right'] {
  float: right;
  margin-right: 0;
  padding-left: 0;
  margin-left: 1em;
}
.region-content .gs-image,
.region-content-top .gs-image,
.cke_show_borders .gs-image,
.cke_contents .gs-image {
  border: 0px !important;
}
.region-content figure,
.region-content-top figure,
.cke_show_borders figure,
.cke_contents figure {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: 98%;
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
}
.region-content figure.full-width,
.region-content-top figure.full-width,
.cke_show_borders figure.full-width,
.cke_contents figure.full-width {
  max-width: 100%;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}
.region-content figure img,
.region-content-top figure img,
.cke_show_borders figure img,
.cke_contents figure img {
  margin: 0;
  padding: 0;
}
.region-content figure img[displayStyle='float-right'], .region-content figure img[displayStyle='float-left'],
.region-content-top figure img[displayStyle='float-right'],
.region-content-top figure img[displayStyle='float-left'],
.cke_show_borders figure img[displayStyle='float-right'],
.cke_show_borders figure img[displayStyle='float-left'],
.cke_contents figure img[displayStyle='float-right'],
.cke_contents figure img[displayStyle='float-left'] {
  display: block;
}
.region-content figure.float-right, .region-content figure.float-left,
.region-content-top figure.float-right,
.region-content-top figure.float-left,
.cke_show_borders figure.float-right,
.cke_show_borders figure.float-left,
.cke_contents figure.float-right,
.cke_contents figure.float-left {
  max-width: 320px;
}
.region-content figure.float-right,
.region-content-top figure.float-right,
.cke_show_borders figure.float-right,
.cke_contents figure.float-right {
  float: right;
  margin-left: 15px;
}
.region-content figure.float-left,
.region-content-top figure.float-left,
.cke_show_borders figure.float-left,
.cke_contents figure.float-left {
  float: left;
  margin-right: 15px;
}
.region-content figure.full-width,
.region-content-top figure.full-width,
.cke_show_borders figure.full-width,
.cke_contents figure.full-width {
  min-width: 98%;
}
@media (max-width: 767px) {
  .region-content figure,
  .region-content-top figure,
  .cke_show_borders figure,
  .cke_contents figure {
    padding: 5px 0;
    margin: 5px 0;
    width: 100%;
  }
}
.region-content figcaption,
.region-content-top figcaption,
.cke_show_borders figcaption,
.cke_contents figcaption {
  /*line-height: 1em;*/
  /* Request to make the text more readable */
  margin: 0;
  padding: 0;
}
.region-content figcaption .caption, .region-content .field-name-field-image-caption,
.region-content-top figcaption .caption,
.region-content-top .field-name-field-image-caption,
.cke_show_borders figcaption .caption,
.cke_show_borders .field-name-field-image-caption,
.cke_contents figcaption .caption,
.cke_contents .field-name-field-image-caption {
  font-size: 13px;
  font-style: italic;
  color: #555;
}
.region-content figcaption .credit, .region-content .field-name-field-photo-credit,
.region-content-top figcaption .credit,
.region-content-top .field-name-field-photo-credit,
.cke_show_borders figcaption .credit,
.cke_show_borders .field-name-field-photo-credit,
.cke_contents figcaption .credit,
.cke_contents .field-name-field-photo-credit {
  color: #999;
  font-style: italic;
  font-size: 13px;
}
.region-content img.page-banner,
.region-content-top img.page-banner,
.cke_show_borders img.page-banner,
.cke_contents img.page-banner {
  border: none;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
.region-content img.float-left, .region-content .float-left > img, .region-content .float-left > a > img,
.region-content-top img.float-left,
.region-content-top .float-left > img,
.region-content-top .float-left > a > img,
.cke_show_borders img.float-left,
.cke_show_borders .float-left > img,
.cke_show_borders .float-left > a > img,
.cke_contents img.float-left,
.cke_contents .float-left > img,
.cke_contents .float-left > a > img {
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
  padding-top: 0;
  float: left;
}
.region-content img.float-right, .region-content .float-right > img, .region-content .float-right > a > img,
.region-content-top img.float-right,
.region-content-top .float-right > img,
.region-content-top .float-right > a > img,
.cke_show_borders img.float-right,
.cke_show_borders .float-right > img,
.cke_show_borders .float-right > a > img,
.cke_contents img.float-right,
.cke_contents .float-right > img,
.cke_contents .float-right > a > img {
  margin-right: 0;
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  float: right;
}
.region-content .overlay-element:hover,
.region-content-top .overlay-element:hover,
.cke_show_borders .overlay-element:hover,
.cke_contents .overlay-element:hover {
  cursor: pointer;
}
.region-content .media-element-wrapper,
.region-content-top .media-element-wrapper,
.cke_show_borders .media-element-wrapper,
.cke_contents .media-element-wrapper {
  clear: both;
}
@media (max-width: 767px) {
  .region-content .media-element-wrapper img,
  .region-content-top .media-element-wrapper img,
  .cke_show_borders .media-element-wrapper img,
  .cke_contents .media-element-wrapper img {
    float: none !important;
    width: 100% !important;
    height: auto !important;
  }
}
.region-content:not(.region-content-top) li,
.region-content-top:not(.region-content-top) li,
.cke_show_borders:not(.region-content-top) li,
.cke_contents:not(.region-content-top) li {
  margin-bottom: 0.4em;
  position: relative;
}
.region-content ul.tabset, .region-content ul.quicktabs-tabs,
.region-content-top ul.tabset,
.region-content-top ul.quicktabs-tabs,
.cke_show_borders ul.tabset,
.cke_show_borders ul.quicktabs-tabs,
.cke_contents ul.tabset,
.cke_contents ul.quicktabs-tabs {
  opacity: 1;
}
.region-content ul.tabset li, .region-content ul.quicktabs-tabs li,
.region-content-top ul.tabset li,
.region-content-top ul.quicktabs-tabs li,
.cke_show_borders ul.tabset li,
.cke_show_borders ul.quicktabs-tabs li,
.cke_contents ul.tabset li,
.cke_contents ul.quicktabs-tabs li {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
}
.region-content li[type="disc"],
.region-content-top li[type="disc"],
.cke_show_borders li[type="disc"],
.cke_contents li[type="disc"] {
  list-style-type: none;
}
.region-content ul,
.region-content-top ul,
.cke_show_borders ul,
.cke_contents ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
.region-content ul li,
.region-content-top ul li,
.cke_show_borders ul li,
.cke_contents ul li {
  list-style-type: disc;
  margin-left: 30px;
}
.region-content ol,
.region-content-top ol,
.cke_show_borders ol,
.cke_contents ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
.region-content ol li,
.region-content-top ol li,
.cke_show_borders ol li,
.cke_contents ol li {
  list-style-type: decimal;
  margin-left: 30px;
}
.region-content dt,
.region-content-top dt,
.cke_show_borders dt,
.cke_contents dt {
  font-weight: bold;
  margin-top: 16px;
}
.region-content .side-story,
.region-content-top .side-story,
.cke_show_borders .side-story,
.cke_contents .side-story {
  float: right;
  width: 36%;
  background: #fafafa;
  padding: 12px;
  margin: 4px 0 12px 20px;
}
.region-content .side-story img,
.region-content-top .side-story img,
.cke_show_borders .side-story img,
.cke_contents .side-story img {
  max-width: 100%;
  margin: auto;
  display: block;
  padding: 0;
}
.region-content blockquote,
.region-content-top blockquote,
.cke_show_borders blockquote,
.cke_contents blockquote {
  margin: 26px 0;
  color: #888;
  font-style: italic;
}
@media (max-width: 767px) {
  .region-content .block,
  .region-content-top .block,
  .cke_show_borders .block,
  .cke_contents .block {
    padding: 0 20px;
  }
}
.region-content #callout,
.region-content-top #callout,
.cke_show_borders #callout,
.cke_contents #callout {
  margin: 0;
  padding: 0;
}
.region-content #callout img,
.region-content-top #callout img,
.cke_show_borders #callout img,
.cke_contents #callout img {
  display: none;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  border: none;
  float: left;
  margin: -10px 20px -5px -10px;
  padding: 10px 0 0 10px;
}
.region-content #callout li,
.region-content-top #callout li,
.cke_show_borders #callout li,
.cke_contents #callout li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #eee;
  display: inline-block;
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 10px 0 5px 10px;
}
.region-content #callout p,
.region-content-top #callout p,
.cke_show_borders #callout p,
.cke_contents #callout p {
  color: #555;
  line-height: 1.4em;
  margin: 5px 20px 5px 2px;
}
.region-content #callout strong,
.region-content-top #callout strong,
.cke_show_borders #callout strong,
.cke_contents #callout strong {
  color: #555555;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.region-content .quicktabs-views-group,
.region-content-top .quicktabs-views-group,
.cke_show_borders .quicktabs-views-group,
.cke_contents .quicktabs-views-group {
  border-bottom: 1px dotted #ccc;
  font-size: 13px;
  margin-bottom: 6px;
  margin-left: 11px;
  padding-bottom: 6px;
}
.region-content .field.field-label-inline.inline,
.region-content-top .field.field-label-inline.inline,
.cke_show_borders .field.field-label-inline.inline,
.cke_contents .field.field-label-inline.inline {
  overflow: hidden;
  *zoom: 1;
  display: block;
}
.region-content .field,
.region-content-top .field,
.cke_show_borders .field,
.cke_contents .field {
  margin-bottom: 1.2em;
}
.region-content .indent-20,
.region-content-top .indent-20,
.cke_show_borders .indent-20,
.cke_contents .indent-20 {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .region-content .indent-20,
  .region-content-top .indent-20,
  .cke_show_borders .indent-20,
  .cke_contents .indent-20 {
    margin-left: 5px;
  }
}
.region-content .indent-40,
.region-content-top .indent-40,
.cke_show_borders .indent-40,
.cke_contents .indent-40 {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .region-content .indent-40,
  .region-content-top .indent-40,
  .cke_show_borders .indent-40,
  .cke_contents .indent-40 {
    margin-left: 10px;
  }
}
.region-content .indent-60,
.region-content-top .indent-60,
.cke_show_borders .indent-60,
.cke_contents .indent-60 {
  margin-left: 60px;
}
@media (max-width: 767px) {
  .region-content .indent-60,
  .region-content-top .indent-60,
  .cke_show_borders .indent-60,
  .cke_contents .indent-60 {
    margin-left: 15px;
  }
}
.region-content .indent-80,
.region-content-top .indent-80,
.cke_show_borders .indent-80,
.cke_contents .indent-80 {
  margin-left: 80px;
}
@media (max-width: 767px) {
  .region-content .indent-80,
  .region-content-top .indent-80,
  .cke_show_borders .indent-80,
  .cke_contents .indent-80 {
    margin-left: 20px;
  }
}
.region-content .indent-100,
.region-content-top .indent-100,
.cke_show_borders .indent-100,
.cke_contents .indent-100 {
  margin-left: 100px;
}
@media (max-width: 767px) {
  .region-content .indent-100,
  .region-content-top .indent-100,
  .cke_show_borders .indent-100,
  .cke_contents .indent-100 {
    margin-left: 25px;
  }
}
.region-content .indent-120,
.region-content-top .indent-120,
.cke_show_borders .indent-120,
.cke_contents .indent-120 {
  margin-left: 120px;
}
@media (max-width: 767px) {
  .region-content .indent-120,
  .region-content-top .indent-120,
  .cke_show_borders .indent-120,
  .cke_contents .indent-120 {
    margin-left: 30px;
  }
}
.region-content .indent-140,
.region-content-top .indent-140,
.cke_show_borders .indent-140,
.cke_contents .indent-140 {
  margin-left: 140px;
}
@media (max-width: 767px) {
  .region-content .indent-140,
  .region-content-top .indent-140,
  .cke_show_borders .indent-140,
  .cke_contents .indent-140 {
    margin-left: 35px;
  }
}
.region-content .indent-160,
.region-content-top .indent-160,
.cke_show_borders .indent-160,
.cke_contents .indent-160 {
  margin-left: 160px;
}
@media (max-width: 767px) {
  .region-content .indent-160,
  .region-content-top .indent-160,
  .cke_show_borders .indent-160,
  .cke_contents .indent-160 {
    margin-left: 40px;
  }
}
.region-content .indent-180,
.region-content-top .indent-180,
.cke_show_borders .indent-180,
.cke_contents .indent-180 {
  margin-left: 180px;
}
@media (max-width: 767px) {
  .region-content .indent-180,
  .region-content-top .indent-180,
  .cke_show_borders .indent-180,
  .cke_contents .indent-180 {
    margin-left: 45px;
  }
}
.region-content .indent-200,
.region-content-top .indent-200,
.cke_show_borders .indent-200,
.cke_contents .indent-200 {
  margin-left: 200px;
}
@media (max-width: 767px) {
  .region-content .indent-200,
  .region-content-top .indent-200,
  .cke_show_borders .indent-200,
  .cke_contents .indent-200 {
    margin-left: 50px;
  }
}
.region-content .expandable, .region-content fieldset.collapsible:not(#edit-advanced),
.region-content-top .expandable,
.region-content-top fieldset.collapsible:not(#edit-advanced),
.cke_show_borders .expandable,
.cke_show_borders fieldset.collapsible:not(#edit-advanced),
.cke_contents .expandable,
.cke_contents fieldset.collapsible:not(#edit-advanced) {
  background: #f1f0ee;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 1em;
  margin-top: 1em;
  overflow: hidden;
}
.region-content .expandable > h4:after, .region-content .expandable .fieldset-legend:after, .region-content .expandable .fieldset-legend:after, .region-content .expandable.collapsed .fieldset-legend:after, .region-content .expandable .expandable-title:after, .region-content fieldset.collapsible:not(#edit-advanced) > h4:after, .region-content fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after, .region-content fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after, .region-content fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:after, .region-content fieldset.collapsible:not(#edit-advanced) .expandable-title:after,
.region-content-top .expandable > h4:after,
.region-content-top .expandable .fieldset-legend:after,
.region-content-top .expandable .fieldset-legend:after,
.region-content-top .expandable.collapsed .fieldset-legend:after,
.region-content-top .expandable .expandable-title:after,
.region-content-top fieldset.collapsible:not(#edit-advanced) > h4:after,
.region-content-top fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after,
.region-content-top fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after,
.region-content-top fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:after,
.region-content-top fieldset.collapsible:not(#edit-advanced) .expandable-title:after,
.cke_show_borders .expandable > h4:after,
.cke_show_borders .expandable .fieldset-legend:after,
.cke_show_borders .expandable .fieldset-legend:after,
.cke_show_borders .expandable.collapsed .fieldset-legend:after,
.cke_show_borders .expandable .expandable-title:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) > h4:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) .expandable-title:after,
.cke_contents .expandable > h4:after,
.cke_contents .expandable .fieldset-legend:after,
.cke_contents .expandable .fieldset-legend:after,
.cke_contents .expandable.collapsed .fieldset-legend:after,
.cke_contents .expandable .expandable-title:after,
.cke_contents fieldset.collapsible:not(#edit-advanced) > h4:after,
.cke_contents fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after,
.cke_contents fieldset.collapsible:not(#edit-advanced) .fieldset-legend:after,
.cke_contents fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:after,
.cke_contents fieldset.collapsible:not(#edit-advanced) .expandable-title:after {
  color: #888;
  font-family: FontAwesome;
  opacity: 1;
  content: "\f0d7";
  margin-left: 5px;
}
.region-content .expandable > h4:hover, .region-content .expandable .fieldset-legend:hover, .region-content .expandable .fieldset-legend:hover, .region-content .expandable.collapsed .fieldset-legend:hover, .region-content .expandable .expandable-title:hover, .region-content fieldset.collapsible:not(#edit-advanced) > h4:hover, .region-content fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover, .region-content fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover, .region-content fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:hover, .region-content fieldset.collapsible:not(#edit-advanced) .expandable-title:hover,
.region-content-top .expandable > h4:hover,
.region-content-top .expandable .fieldset-legend:hover,
.region-content-top .expandable .fieldset-legend:hover,
.region-content-top .expandable.collapsed .fieldset-legend:hover,
.region-content-top .expandable .expandable-title:hover,
.region-content-top fieldset.collapsible:not(#edit-advanced) > h4:hover,
.region-content-top fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover,
.region-content-top fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover,
.region-content-top fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:hover,
.region-content-top fieldset.collapsible:not(#edit-advanced) .expandable-title:hover,
.cke_show_borders .expandable > h4:hover,
.cke_show_borders .expandable .fieldset-legend:hover,
.cke_show_borders .expandable .fieldset-legend:hover,
.cke_show_borders .expandable.collapsed .fieldset-legend:hover,
.cke_show_borders .expandable .expandable-title:hover,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) > h4:hover,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:hover,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) .expandable-title:hover,
.cke_contents .expandable > h4:hover,
.cke_contents .expandable .fieldset-legend:hover,
.cke_contents .expandable .fieldset-legend:hover,
.cke_contents .expandable.collapsed .fieldset-legend:hover,
.cke_contents .expandable .expandable-title:hover,
.cke_contents fieldset.collapsible:not(#edit-advanced) > h4:hover,
.cke_contents fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover,
.cke_contents fieldset.collapsible:not(#edit-advanced) .fieldset-legend:hover,
.cke_contents fieldset.collapsible:not(#edit-advanced).collapsed .fieldset-legend:hover,
.cke_contents fieldset.collapsible:not(#edit-advanced) .expandable-title:hover {
  color: #d81118;
  cursor: pointer;
}
.region-content .expandable.expanded > h4, .region-content .expandable.expanded .fieldset-legend, .region-content .expandable.expanded .expandable-title, .region-content fieldset.collapsible:not(#edit-advanced).expanded > h4, .region-content fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend, .region-content fieldset.collapsible:not(#edit-advanced).expanded .expandable-title,
.region-content-top .expandable.expanded > h4,
.region-content-top .expandable.expanded .fieldset-legend,
.region-content-top .expandable.expanded .expandable-title,
.region-content-top fieldset.collapsible:not(#edit-advanced).expanded > h4,
.region-content-top fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend,
.region-content-top fieldset.collapsible:not(#edit-advanced).expanded .expandable-title,
.cke_show_borders .expandable.expanded > h4,
.cke_show_borders .expandable.expanded .fieldset-legend,
.cke_show_borders .expandable.expanded .expandable-title,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).expanded > h4,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).expanded .expandable-title,
.cke_contents .expandable.expanded > h4,
.cke_contents .expandable.expanded .fieldset-legend,
.cke_contents .expandable.expanded .expandable-title,
.cke_contents fieldset.collapsible:not(#edit-advanced).expanded > h4,
.cke_contents fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend,
.cke_contents fieldset.collapsible:not(#edit-advanced).expanded .expandable-title {
  border-bottom: 2px solid #d81118;
}
.region-content .expandable.expanded > h4:after, .region-content .expandable.expanded .fieldset-legend:after, .region-content .expandable.expanded .expandable-title:after, .region-content fieldset.collapsible:not(#edit-advanced).expanded > h4:after, .region-content fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend:after, .region-content fieldset.collapsible:not(#edit-advanced).expanded .expandable-title:after,
.region-content-top .expandable.expanded > h4:after,
.region-content-top .expandable.expanded .fieldset-legend:after,
.region-content-top .expandable.expanded .expandable-title:after,
.region-content-top fieldset.collapsible:not(#edit-advanced).expanded > h4:after,
.region-content-top fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend:after,
.region-content-top fieldset.collapsible:not(#edit-advanced).expanded .expandable-title:after,
.cke_show_borders .expandable.expanded > h4:after,
.cke_show_borders .expandable.expanded .fieldset-legend:after,
.cke_show_borders .expandable.expanded .expandable-title:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).expanded > h4:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend:after,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).expanded .expandable-title:after,
.cke_contents .expandable.expanded > h4:after,
.cke_contents .expandable.expanded .fieldset-legend:after,
.cke_contents .expandable.expanded .expandable-title:after,
.cke_contents fieldset.collapsible:not(#edit-advanced).expanded > h4:after,
.cke_contents fieldset.collapsible:not(#edit-advanced).expanded .fieldset-legend:after,
.cke_contents fieldset.collapsible:not(#edit-advanced).expanded .expandable-title:after {
  color: #888;
  font-family: FontAwesome;
  opacity: 1;
  content: "\f0d8";
}
.region-content .expandable.expanded .field-label.expandable-title, .region-content fieldset.collapsible:not(#edit-advanced).expanded .field-label.expandable-title,
.region-content-top .expandable.expanded .field-label.expandable-title,
.region-content-top fieldset.collapsible:not(#edit-advanced).expanded .field-label.expandable-title,
.cke_show_borders .expandable.expanded .field-label.expandable-title,
.cke_show_borders fieldset.collapsible:not(#edit-advanced).expanded .field-label.expandable-title,
.cke_contents .expandable.expanded .field-label.expandable-title,
.cke_contents fieldset.collapsible:not(#edit-advanced).expanded .field-label.expandable-title {
  margin-bottom: 10px;
}
.region-content fieldset.collapsible:not(#edit-advanced),
.region-content-top fieldset.collapsible:not(#edit-advanced),
.cke_show_borders fieldset.collapsible:not(#edit-advanced),
.cke_contents fieldset.collapsible:not(#edit-advanced) {
  padding-top: 1.7em;
}
.region-content fieldset.collapsible:not(#edit-advanced):not(.collapsed),
.region-content-top fieldset.collapsible:not(#edit-advanced):not(.collapsed),
.cke_show_borders fieldset.collapsible:not(#edit-advanced):not(.collapsed),
.cke_contents fieldset.collapsible:not(#edit-advanced):not(.collapsed) {
  padding-top: 4em;
}
.region-content fieldset.collapsible:not(#edit-advanced) > legend,
.region-content-top fieldset.collapsible:not(#edit-advanced) > legend,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) > legend,
.cke_contents fieldset.collapsible:not(#edit-advanced) > legend {
  position: absolute;
  top: 1em;
}
.region-content fieldset.collapsible:not(#edit-advanced) > legend a,
.region-content-top fieldset.collapsible:not(#edit-advanced) > legend a,
.cke_show_borders fieldset.collapsible:not(#edit-advanced) > legend a,
.cke_contents fieldset.collapsible:not(#edit-advanced) > legend a {
  color: #555;
}
.region-content .expandable-content,
.region-content-top .expandable-content,
.cke_show_borders .expandable-content,
.cke_contents .expandable-content {
  overflow: hidden;
}
.region-content .expandable .expandable-content,
.region-content-top .expandable .expandable-content,
.cke_show_borders .expandable .expandable-content,
.cke_contents .expandable .expandable-content {
  max-height: 0px;
  -moz-transform: translate3d(0px, 3000px, 0px);
  -ms-transform: translate3d(0px, 3000px, 0px);
  -webkit-transform: translate3d(0px, 3000px, 0px);
  transform: translate3d(0px, 3000px, 0px);
  -moz-transition: -moz-transform 0.6s ease, max-height 0.3s ease;
  -o-transition: -o-transform 0.6s ease, max-height 0.3s ease;
  -webkit-transition: -webkit-transform 0.6s ease, max-height 0.3s ease;
  transition: transform 0.6s ease, max-height 0.3s ease;
}
.region-content .expandable.expanded .expandable-content,
.region-content-top .expandable.expanded .expandable-content,
.cke_show_borders .expandable.expanded .expandable-content,
.cke_contents .expandable.expanded .expandable-content {
  max-height: 3000px;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.region-content fieldset.collapsible .fieldset-wrapper,
.region-content-top fieldset.collapsible .fieldset-wrapper,
.cke_show_borders fieldset.collapsible .fieldset-wrapper,
.cke_contents fieldset.collapsible .fieldset-wrapper {
  max-height: 3000px;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -moz-transition: -moz-transform 0.6s ease, max-height 0.3s ease;
  -o-transition: -o-transform 0.6s ease, max-height 0.3s ease;
  -webkit-transition: -webkit-transform 0.6s ease, max-height 0.3s ease;
  transition: transform 0.6s ease, max-height 0.3s ease;
}
.region-content fieldset.collapsible.collapsed .fieldset-wrapper,
.region-content-top fieldset.collapsible.collapsed .fieldset-wrapper,
.cke_show_borders fieldset.collapsible.collapsed .fieldset-wrapper,
.cke_contents fieldset.collapsible.collapsed .fieldset-wrapper {
  max-height: 0px;
  -moz-transform: translate3d(0px, 3000px, 0px);
  -ms-transform: translate3d(0px, 3000px, 0px);
  -webkit-transform: translate3d(0px, 3000px, 0px);
  transform: translate3d(0px, 3000px, 0px);
}

.workbench-unpublished #page-content {
  position: relative;
  border-right: 5px solid #daa;
}
.workbench-unpublished .region-content {
  position: relative;
}
.workbench-unpublished .region-content:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #daa;
  content: 'Draft';
  display: block;
  font-size: 15px;
  height: 20px;
  letter-spacing: 4px;
  position: absolute;
  right: -38px;
  top: 0%;
}
.workbench-unpublished .quicktabs-tabs {
  border-bottom: 1px solid #ccc;
}
.workbench-unpublished .quicktabs-tabs li {
  border: 1px solid #ddd;
}
.workbench-unpublished .quicktabs-tabs li:before {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
}
.workbench-unpublished .field-name-field-related-links {
  border-top: 1px dotted #ccc;
  margin-top: 12px;
  padding-top: 10px;
}
.workbench-unpublished .field .field-label {
  font-weight: normal;
  font-weight: bold;
}

html.CSS1Compat {
  background: #eee;
  font-weight: normal;
  line-height: 1.4em;
  color: #333;
}

.cke_show_borders div, .cke_show_borders p, .cke_show_borders span,
.cke_contents div,
.cke_contents p,
.cke_contents span {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  line-height: inherit !important;
}
.cke_show_borders .share-holder,
.cke_contents .share-holder {
  position: absolute;
}
.cke_show_borders .card-back,
.cke_contents .card-back {
  clear: both;
}

.cke_show_borders {
  max-width: 100%;
  background: white;
  margin: auto;
  float: none !important;
  padding: 10px;
}
