@import "../jjamerson_variables";

.region-footer {
  @include box-shadow(rgba(0,0,0,0.2) 0 -3px 6px 0);
  background: #434141 url(#{$images}/footer/bg-gray-texture.png) repeat;
  margin-top: 0px;
  clear: both;
  overflow: hidden;
  padding-top: 25px;
  position: relative;
  z-index: 10;
  padding: 0;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  .span3 {
    width: 24%;
    margin-right: 1%;
    float: left;
  }
  @media #{$s} {
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.1));
    @include box-shadow(inset 0 -10px 20px rgba(0,0,0,0.2) );
    border-bottom: 5px solid #111;
    border-top: 2px solid #333;
  }
  nav.footer-menus {
    @media #{$s} {
      display: none;
    }
  }
  h3, a, a:hover {
    color: #e8e8e8;
  }
  h3 {
    font-size: 22px;
    font-family: $headline; font-weight: 100;
    @media #{$m} {
      font-size:14px;
    }
    padding: 0 0 17px;

    &:after {
      margin-top: 13px;
      @include dottedBorder;
    }
  }
  a {
    font-size: 13px;
    line-height: 20px;
    &:hover {
      color: #fff;
    }
  }
  iframe[name="google_conversion_frame"] {
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
  }
  .footer-block {
    color: #aeb9c3;
    float: left;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 5em;
    width: 100%;
    @media #{$s} {
      width: 95%;
      padding: 0;
      margin: 2em 0;
      span.copy {
        margin: 5px 0 5px 5px;
      }
      li {
        padding: 4px 0;
      }
    }
    a {
      border-left: 1px solid #515151;
      color: #aeb9c3;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      @media #{$s} {
        border-left: none;
        clear: both;
        float: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
    li {
      &:not(:first-child) {
        @media #{$s} {
          border-top: 1px dotted #555;
          clear: both;
          display: block;
          float: none;
          padding: 5px;
          width: 100%;
        }
      }
    }
    li, span {
      float: left;
    }
    span {
      padding-right: 8px;
    }
  }
}