@import "../jjamerson_variables";


/* Both Sidebar Regions: */;
.region-sidebar-first, .region-sidebar-second {
  position: relative; 
  font-size: 13px;
  a.active {
    pointer-events: none;
    &:hover {
      cursor: default;
      text-decoration: none;
    }
  }
  > .container {
    display: inline;
  }
  margin-top: 10px;
  margin-bottom: 2em;
  h3 {
    word-break: break-word;
    color: #333;
    font-weight: normal;
    margin-top: 5px;
    line-height: 1.2em;
    margin-bottom: 15px;
    a:not(.active) {
      color: #333;
    }
    @media #{$m} {
      font-size: 14px;
    }
  }
  hr {
    margin: 0;
    border-top: 1px solid #ccc;
    border-bottom: none;
  }
  .content > nav > ul.menu > li:not(:last-child),
  .content > .menu-block-wrapper > nav >  ul.menu > li:not(:last-child) {
    border-bottom: 1px dotted #ddd;
  }
  .content > nav >  ul.menu:not(:first-child) {
    border-top: 1px dotted #ddd;
  }
  .content > nav >  ul.menu > li {
    padding-left: 0;
  }
  ul.menu {
    li {
      font-weight: normal;
      padding-bottom: 3px;
      padding-left: 12px;
      padding-top: 3px;
    }
    li a {
      display: block;
      margin-left: -5px;
      padding: 5px;
      padding-right: 13%;
      width: 90%;
    }
    li a {
      &:hover, &.active {
        
      }
      &:hover {
        color: $berklee-red;
      }
      &.active {
        color: $berklee-red;
        text-shadow: 1px 1px 1px #fff;
        opacity: 0.8;
        font-weight: bold;
      }
    }
    li span {
      color: #888;
      display: block;
      margin-bottom: 7px;
      &:after {
        //content: '/';
        //color: #ccc;
        //float: right;
        //display: block;
      }
      &:before {
        //content: '/ ';
        //color: #ccc;
      }
    }
  }
  img.full-width, img[displaystyle="full-width"] {
    width: 98%;
  }
}

/* Left sidebar */
.region-sidebar-first {
  //@include span(2);
  @media #{$not-small} {
    @include box-sizing(border-box);
    float: left;
    width: 19%;
    margin-left: 5%;
  }
  #block-berklee-site-section-menu {
    border-top: 2px solid #d32;
    & > h3 {
      font-weight: 100;
      text-transform: uppercase;
    }
    &:before {
      @media #{$not-small} {
        //@include dottedBorder;
        //
      }
    }
  }
  .content a {
    color: #333;
  }
  .content ul.menu {
    li {
      @media #{$s} {
        margin-left: 5px;
        width: 94%;
      }
    }
    a {
      line-height: 1.4em;
      &:hover, &.active {
        /* The icon: */
        @include border-radius(3px);
        //@include box-shadow(inset 0px 0px 7px #bbb);
        //background-color: #eee;
        border-bottom-color: #d7dade;
        border-color: #cfd2d6;
        border-top-color: #c0c2c5;
        position: relative;
        text-decoration: none;
        &:after {
          @include icon('arrow-right', #aaa, 1);
          line-height: 0;
          position: absolute;
          right: 6px;
          text-shadow: -1px -1px 0 #fff;
          top: 50%;
        }
        @media #{$s} {

        }
      }
    }
  }
  /* Experimental style, disabled because it's odd: 
  .breadcrumb {
    @include clearfix();
    background: none;
    margin-bottom: 5px;
    padding: 5px 0;
    li {
      position: relative;
      display: block;
      float: left;
      margin-top: 1px;
      padding-left: 13px;
      a {
        color: #888;
        font-size: 13px;
      }
    }
    li:not(:first-child):before {
      @include icon('icon-chevron-left', #ddd);
      @include rotate(-45deg);
      display: block;
      float: left;
      margin: 0 5px;
    }
    li:first-child {
      padding-left: 0;
    }
    li:only-child {
      &:after {
        display: none;
      }
      &:before {
        @include icon('icon-chevron-left', #ddd);
        @include rotate(0);
        font-size: 10px;
        line-height: 15px;
        margin-right: 5px;
      }
    }
    li:last-child:after {
      @include icon('icon-level-down', #ddd);
      right: -12px;
      position: absolute;
      top: 5px;
    }
  }
  */
  .breadcrumb {
    @include clearfix();
    @media #{$s} {
      display: none;
    }
    a {
      color: #bbb;
      font-style: italic;
      font-size: 12px;
    }
    a:hover {
      color: $berklee-red;
    }
    li {
      display: inline;
      margin: 0;
      &:not(:last-child):after {
        margin: 0 5px;
        color: #888;
        content: ' / ';
      }
    }
  }
}

/* Left sidebar */
.region-sidebar-second {
  //@include span(3);
  @media #{$not-small} {
    @include box-sizing(border-box);
    float: left;
    width: 23%;
    margin-left: 0%;
    margin-right: 5%;
  }
  .block {
    margin: 0 0 20px;
    padding: 9px 14px 11px;
    background: #ecebeb;
    overflow: hidden;
    @media #{$s} {
      width: 100%;
    }
    > h3 {
      /*
      &:after {
        @include dottedBorder;
      }
      */
     font-weight: 100;
     text-transform: uppercase;
     border-bottom: 2px solid #d32;
    }
    .content h3 {
      color: #666;
      font-size: 16px;
      margin-bottom: 2px;
    }
  }
}

// "Order" tab displays a giant table, so kill the right sidebar:
.page-node-order .region-sidebar-second {
  display: none;
}